@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

body {
    background-color: #1e1e1e;
    color: #f3f6fa;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-weight: 100;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

#interval {
    display: none;
}

@media (max-width: 1250px) {
    #root {
        flex-direction: column;
        justify-content: flex-start;
    }
}

/****/

.container_confirmed_cases {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 15px 30px 0px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_reported_deaths {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 30px 0px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_recovered_cases {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 30px 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_active_cases {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 30px 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}

/****/

.container_hospitalized_cases {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 15px 15px 0px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_icu_cases {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 15px 0px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_samples_prt {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 15px 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_death_rate {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 15px 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}

/****/

.container_confirmed_cases_world {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 15px 15px 0px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_reported_deaths_world {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 15px 0px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_recovered_cases_world {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 15px 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}


.container_active_cases_world {
  border-radius: 5px;
  background-color: #2b2b2b;
  margin: 15px 0px 15px 15px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 0px #2b2b2b;
}

/****/

h6 {
  font-size: 1.8rem;
  line-height: .5; /*1.6*/
  letter-spacing: 0;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.container-display {
  display: flex;
}

#confirmed_cases_prt,
#reported_deaths_prt,
#recovered_cases_prt,
#active_cases_prt,
#hospitalized_cases_prt,
#icu_cases_prt,
#death_rate_prt,
#samples_prt {
  flex: 1;
  opacity: 0.8;
}

#confirmed_cases_world,
#reported_deaths_world,
#recovered_cases_world,
#active_cases_world {
  flex: 1;
  opacity: 0.8;
}

/********************************/
/*Links*/
/********************************/

a {
  color: #BA2456;
  text-decoration: none; /*underline;*/
  cursor: pointer;
}
a:hover {
  color: #0FA0CE;
  opacity: 0.5;
}

/********************************/
/*Side panel*/
/********************************/
#panel_side {
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: #2b2b2b;
    flex: 2 20%;
}

#app_title {
    color: #fec036;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    word-break: normal;
    margin: 0 0 0.5rem 0;
}

#update_date {
    color: #white;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    word-break: normal;
    margin: 0 0 2rem 0;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
    color: white !important;
    cursor: pointer;
    text-align: left;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    background-color: #2b2b2b;
    cursor: pointer;
}

#info_dropdown:hover, #info_dropdown .Select:hover {
    cursor: pointer;
}

#info_dropdown {
    width: 100%;
}

.Select-control, .Select-multi-value-wrapper, .Select-menu-outer div {
    background-color: #2b2b2b;
}

.Select-control, .Select, .Select-value-label, .Select-clear-zone {
    color: white;
}

.Select-menu-outer {
    background-color: #2b2b2b;
    border: 1px solid gray !important;
}

.Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01);
    cursor: pointer;
}

.Select-arrow {
    border-color: gray transparent transparent;
}

.Select-arrow-zone, .Select-clear-zone, .is-open > .Select-control {
    background-color: #2b2b2b !important;
}

#panel_side_text {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #a1a1a1;
}

#app_dropdown_text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: normal;
    color: #fec036;
    text-align: left;
}

#data_dropdown_component {
    color: #0f0f0f;
    text-align: center;
    cursor: pointer;
    margin: 0 0 1rem 0
}

#time_dropdown_component {
    color: #0f0f0f;
    text-align: center;
    cursor: pointer;
    margin: 0 0 1rem 0
}

#time_window_dropdown_component {
    color: #0f0f0f;
    text-align: center;
    cursor: pointer;
}

.app_body {
    font-weight: lighter;
    font-size: 0.9rem;
    margin: 0;
}

@media (max-width: 1500px) {
    #app_title {
        font-size: 1.8rem;
    }

    #update_date {
        font-size: 0.8rem;
    }

    h6, h5 {
        font-size: 1.6rem;
    }

    #data_dropdown_component {
        font-size: 0.8rem !important;
    }

    #time_dropdown_component {
        font-size: 0.8rem !important;
    }

    #time_window_dropdown_component {
        font-size: 0.8rem !important;
    }

    #app_dropdown_text {
        font-size: 1rem;
    }

    .app_body {
        font-size: 0.7rem;
    }
}

@media (max-width: 1250px) {
    #panel_side {
        padding: 3rem 10rem;
    }
}

@media (max-width: 800px) {
    #panel_side {
        padding: 3rem 7rem;
        align-items: center;
    }

    #app_title {
        text-align: center;
    }

    #update_date {
        text-align: center;
    }

    h6, h5 {
        font-size: 1.2rem;
    }

    #panel_side_text {
        align-items: center;
    }

    .app_body {
        text-align: center;
    }

}

@media (max-width: 550px) {
    #panel_side {
        padding: 3rem 3rem;
    }
}

/********************************/
/*Main Panel*/
/********************************/

#panel_upper_lower {
    display: flex;
    flex-direction: column;
    flex: 5 83%;
    padding: 1.6rem 3rem;
}

@media (max-width: 550px) {
    #panel_upper_lower {
        padding: 3rem 1rem;
    }
}

/********************************/
/*Upper Panel*/
/********************************/

#graph_1_wrapper {
    height: 46rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 3rem;
}

#world_map_wrapper {
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#world_map {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

#graph_1 {
    height: 100%;
    width: 100%;
}

#graph_1_scale_toggle {
    margin: 0 !important;
}

#world_map_wrapper .sc-bdVaJa.fsmTNM, .sc-bdVaJa.bQWqnK {
    background-color: #1e1e1e;
}

#graph_1_wrapper .sc-bdVaJa.fsmTNM, .sc-bdVaJa.bQWqnK {
    background-color: #1e1e1e;
}

#world_map_wrapper .sc-bxivhb.iArJfC, .sc-bxivhb.cmSQpo {
    background-color: #2b2b2b;
}

#graph_1_wrapper .sc-bxivhb.iArJfC, .sc-bxivhb.cmSQpo {
    background-color: #2b2b2b;
}

.sc-ifAKCX.dlqMgb, .sc-ifAKCX.dlqMgb:hover, .sc-ifAKCX.igrnnx, .sc-ifAKCX.igrnnx:hover {
    background-color: #fec036;
    border-color: #fec036;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

@media (max-width: 1250px) {
    #graph_1_wrapper {
        height: 40rem;
    }

    #world_map_wrapper {
        height: 40rem;
    }
}

@media (max-width: 700px) {
    #graph_1_wrapper {
        height: 30rem;
    }

    #world_map_wrapper {
        height: 30rem;
    }

    .sc-ifAKCX.dlqMgb, .sc-ifAKCX.dlqMgb:hover, .sc-ifAKCX.igrnnx, .sc-ifAKCX.igrnnx:hover {
        background-color: #fec036;
        border-color: #fec036;
        height: 20px;
        width: 20px;
        cursor: pointer;
    }

    .sc-htoDjs.fppncY.sc-bwzfXH.gRFjMP, .sc-htoDjs.lnpZXS.sc-bwzfXH.gRFjMP {
        font-size: 0.8rem;
    }
}

@media (max-width: 500px) {
    #graph_1_wrapper {
        height: 20rem;
    }

    #world_map_wrapper {
        height: 20rem;
    }

    #graph_1_scale_toggle {
        width: 110px !important;
    }

    .sc-ifAKCX.dlqMgb, .sc-ifAKCX.dlqMgb:hover, .sc-ifAKCX.igrnnx, .sc-ifAKCX.igrnnx:hover {
        background-color: #fec036;
        border-color: #fec036;
        height: 15px;
        width: 15px;
        cursor: pointer;
    }

    .sc-htoDjs.fppncY.sc-bwzfXH.gRFjMP, .sc-htoDjs.lnpZXS.sc-bwzfXH.gRFjMP {
        font-size: 0.6rem;
    }
}

/********************************/
/*Lower Panel*/
/********************************/

#panel, #panel_graph_3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

#panel_graph_3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 15px;
}

#placeholder {
    display: none;
}

@media (max-width: 1800px) {
    #panel, #panel_graph_3 {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    #panel, #panel_graph_3 {
        display: inline;
    }
}

/********************************/
/*Lower Panel Graph*/
/********************************/
#graph_2_container, #graph_3_container {
    background-color: #2b2b2b;
    flex: 8 80%;
    display: flex;
    flex-direction: column;
}

#graph_2_header, #graph_3_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0.75rem 2rem;
}

#graph_2_header .sc-bdVaJa.fsmTNM, .sc-bdVaJa.bQWqnK {
    background-color: #2b2b2b !important;
}

#graph_3_header .sc-bdVaJa.fsmTNM, .sc-bdVaJa.bQWqnK {
    background-color: #2b2b2b !important;
}

#graph_2_header .sc-bxivhb.iArJfC, .sc-bxivhb.cmSQpo {
    background-color: #484848 !important;
}

#graph_3_header .sc-bxivhb.iArJfC, .sc-bxivhb.cmSQpo {
    background-color: #484848 !important;
}

#graph_2_title, #graph_3_title {
    flex: 1 66%;
    font-size: 1rem;
    font-weight: normal;
}

/********************************/

#graph_2, #graph_3 {
    flex: 1 1;
}

@media (max-width: 500px) {
    #graph_2_header, #graph_3_header {
        flex-direction: column;
    }

    #graph_2_title, #graph_3_title {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    #graph_2_container, #graph_3_container {
        height: 25rem;
    }

    #graph_2 .xtick text, #graph_2 .ytick text {
        font-size: 0.6rem !important;
    }

    #graph_3 .xtick text, #graph_3 .ytick text {
        font-size: 0.6rem !important;
    }
}

/********************************/
/*Lower Panel*/
/********************************/
#panel-lower {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex: 2 20%;
    margin-left: 2rem;
    background-color: #2b2b2b;
    font-weight: normal;
    padding: 0rem 0 1rem 0;
    flex-wrap: wrap;
}

.sc-kgoBCf.gcgTwS, .sc-kgoBCf.gcgTwS, .sc-kgoBCf.gcgTwS {
    border: none !important;
}
